# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
library.db

# Flask instance folder
instance/

# Environments
.env
.venv/
venv/
env/

# VS Code config
.vscode/

# macOS
.DS_Store

# Pytest cache
.pytest_cache/

# Render deploy logs (if any)
render.log
